<ion-view view-title="{{ 'AVATAR' | translate }}" cache-view="false">
    <ion-nav-buttons side="right">
        <button ng-click="showActionSheet()" class="button back-button buttons button-clear header-item" style="">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>

    <ion-content id="module-user" class="page-user-info-avatar">
        <div class="padding">
            <div class="text-center" style="margin-top:60px;">
                <img ng-if="!user.newAvatar" style="max-width:100%; max-height:200px;" ng-src="{{ getPicUrl(user.avatar + '?imageView/2/w/80') }}">
                <img ng-if="user.newAvatar" style="max-width:100%; max-height:200px;" ng-src="{{ user.newAvatar | ngfDataUrl }}">
            </div>

            <div class="hide" style="margin:30px 10%">
                <button ng-if="!user.newAvatar" ng-click="selectAvatar()" class="button button-block">{{ 'SELECT_NEW_AVATAR' | translate }}</button>
                <button ng-if="user.newAvatar" ng-click="submitAvatar()" class="button button-block">{{ 'UPDATE' | translate }}</button>
            </div>
        </div>

        <form ng-submit="submitAvatar()" class="hide">
            <input type="file" ngf-select ng-model="user.newAvatar" name="avatar" ngf-change="avatarChanged($files)" ngf-accept="'image/*'" ngf-resize="{width: 200, height: 200, ratio: '1:1', centerCrop: true,}" required ngf-max-size="20MB" ngf-min-height="100" ngf-min-width="100">
        </form>
    </ion-content>
</ion-view>
