<ion-view view-title="{{'修改密码'| translate }}">
    <ion-content id="module-user" class="page-user-setup-softInfo">
        <div class="padding">
        </div>

        <form name="ngForm" ng-submit="UserService.changePassword()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">{{ 'OLD_PASSWORD' | translate }}</span>
                    <input ng-model="form.phone" required ng-minlength="6" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{ 'NEW_PASSWORD' | translate }}</span>
                    <input ng-model="form.password" required ng-minlength="6" type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{ 'NEW_PASSWORD_CONFIRM' | translate }}</span>
                    <input ng-model="form.password_confirm" required ng-minlength="6" type="password" placeholder="">
                </label>
            </div>
            <div>{{ UserService.changePasswordErrors }}</div>

            <button type="submit" ng-disabled="ngForm.$invalid" class="button button-block">{{ 'CHANGE_PWD' | translate }}</button>
        </form>
    </ion-content>
</ion-view>
