#module-topic {
    .list {
        .item-activity {
            padding-bottom: 0;
            min-height: 95px !important;

            .avatar {
                height: auto !important;
                vertical-align: bottom;
                min-height: 95px !important;
            }

            .title {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .content {
                height: 60px;
                overflow: hidden;
            }
        }
    }


    //
    // marked
    marked, #marked {
        h1 {
            font-size: 20px;
        }

        h2 {
            font-weight: 500;
        }

        p {
            color: #444;
        }

        > p:first-child {
            margin-top:0;
        }
    }

    #marked-normal * {
        color: #444;
        display: inline;
        font-size: 14px;
        font-weight: normal;
    }

}

